/* Fonts */
@font-face {
  font-family: ;
  src: url();
}

/* All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ;
}

/* Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
/* Header logo Style */
header .logo {
    
}