/* Fonts */
@font-face {
  font-family: IRANSansXV;
  src: url("../Fonts/IRANSansXV.ttf");
}

/* All Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: IRANSansXV;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* Header Style */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  backdrop-filter: blur(20px);
}
/* Header logo Style */
header .logo img {
  max-width: 60px;
}
/* Header navigation bar Style */
header ul {
  display: flex;
  gap: 40px;
}
/* Header navigation bar links Style */
header ul > li > a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
/* Active navigation bar links Style */
header ul > .active a,
header ul > li:hover a {
  color: #0094ff;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* home page sections Style */
main #homePage {
  background-color: #222;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  position: relative;
}
/* home page image background Style */
main #homePage::before {
  content: "";
  position: absolute;
  right: 50px;
  bottom: 0px;
  width: 50vw;
  height: 25vw;
  background-color: #0094ff;
  border-top-right-radius: 25vw;
  border-top-left-radius: 25vw;
}
/* home page content Style */
#homePage .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  z-index: 1;
  position: relative;
}
/* home page title Style */
#homePage .content h2 {
  font-size: 60px;
  color: #0094ff;
}
/* home page paragraph Style */
#homePage .content p {
  color: #fff;
  font-size: 19.2px;
  line-height: 1.6;
}
/* home page button Style */
.btn {
  display: inline-block;
  font-size: 20px;
  max-width: 200px;
  background-color: #0094ff;
  color: #222;
  text-align: center;
  padding: 18px 30px;
  font-weight: 500;
  margin-top: 10px;
}
/* home page image Style */
#homePage .car {
  position: absolute;
  bottom: 200px;
  right: 200px;
  max-height: 90vh;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* Main sections Style */
#service,
#products,
#contact {
  position: relative;
  background-color: #34353a;
  min-height: 100vh;
  padding: 120px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* Section text Style */
.secText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* Section title Style */
.secText h2 {
  font-size: 48px;
  color: #fff;
}
/* Section paragraph Style */
.secText p {
  max-width: 700px;
  text-align: center;
  color: #aaa;
  font-size: 17.6px;
  line-height: 1.5;
  margin-top: 15px;
}
/* Service section content Style */
#service .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
/* Content service box Style */
#service .content .serviceBox {
  background-color: #2e2f34;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #2e2f34;
  cursor: pointer;
}
/* Content service box hovering Style */
#service .content .serviceBox:hover {
  border: 2px solid #0094ff;
}
/* Service box svg Style */
#service .content .serviceBox svg {
  max-width: 100px;
  filter: invert(1);
  opacity: 0.5;
  transition: all 0.5s;
}
/* Service box svg hovering Style */
#service .content .serviceBox:hover svg {
  opacity: 1;
}
/* Service box title style */
#service .content .serviceBox h3 {
  font-weight: 500;
  color: #0094ff;
}
/* Center button Style */
.centerBtn {
  width: 100%;
  text-align: center;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* Products section Style */
#products {
  background-color: #2e2f34;
  text-align: center;
}
/* Products content style */
#products .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
/* Products content image Style */
#products .content .imgBox img {
  max-width: 100%;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* Contact content Style */
footer #contact .content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}
/* Contact content link Style */
footer #contact .content a {
  background-color: #2e2f34;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19.2px;
  color: #fff;
  transition: all 0.5s;
}
/* Contact content link hovering Style */
footer #contact .content a:hover {
  background-color: #0094ff;
}
/* Contact content icon Style */
footer #contact .content a ion-icon {
  color: #0094ff;
  font-size: 24px;
  margin-right: 10px;
  transition: all 0.5s;
}
/* Contact content link and icon hovering Style */
footer #contact .content a:hover,
footer #contact .content a:hover ion-icon {
  color: #222;
}
/* copyright paragraph Style */
footer .copyRight {
  margin-top: 150px;
  color: #aaa;
  font-size: 17.6px;
}
/* copyright link Style */
footer .copyRight a {
  color: #0094ff;
  text-decoration: underline;
}
/* -+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+- */
/* Responsive CSS code */
/* Responsive for 1540px screen view port */
@media (max-width: 1540px) {
  #homePage .car {
    position: absolute;
    right: 100px;
    width: 600px;
  }
}
/* Responsive for 1400px screen view port */
@media (max-width: 1400px) {
  #homePage .car {
    position: absolute;
    right: 50px;
    width: 500px;
  }
}
/* Responsive for 1300px screen view port */
@media (max-width: 1300px) {
  #homePage .car {
    position: absolute;
    right: 20px;
    bottom: 50px;
  }
}
/* Responsive for 900px screen view port */
@media (max-width: 900px) {
  header {
    padding: 20px 50px;
  }
  #homePage {
    padding: 150px 50px;
    flex-direction: column;
    padding-bottom: 0;
  }
  #homePage .content h2 {
    font-size: 50px;
  }
  .btn {
    max-width: 160px;
    padding: 10px 20px;
  }
  #homePage .car {
    position: absolute;
    height: 50vh;
    right: 50px;
    bottom: 0;
    width: 400px;
  }
  .secText h2 {
    font-size: 32px;
  }
  #service,
  #products,
  #contact {
    padding: 100px 50px 50px;
  }
  main #service .content,
  main #products .content,
  footer #contact .content {
    grid-template-columns: repeat(2, 1fr);
  }
  header ul {
    display: none;
  }
  .menuToggle {
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .menuToggle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 10px #fff;
  }
}
.menuToggle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: translateY(10px);
  transition: 0.5s;
}
header.active .menuToggle::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 #fff;
}
header.active .menuToggle::after {
  transform: translateY(0px) rotate(315deg);
}
/* Responsive for 700px screen view port */
@media (max-width: 700px) {
  #homePage .content h2 {
    font-size: 48px;
  }
  main #homePage::before {
    width: 80vw;
    height: 40vw;
    border-top-right-radius: 80vw;
    border-top-left-radius: 80vw;
  }
  #homePage .car {
    position: absolute;
    right: 110px;
    bottom: 50px;
    height: 40vh;
  }

  main #service .content,
  main #products .content,
  footer #contact .content {
    grid-template-columns: repeat(1, 1fr);
  }
  footer #contact .content a {
    height: 80px;
  }
}
